.navbar {
  height: 5.25rem;
}
.navbar-item {
  font-size:1.2rem;
  color: #fff;
}
.navbar-item img {
  max-height:3.00rem;
}

/* For Login Page */
.button.is-success.card-footer-item, .button.is-primary.card-footer-item {
    border-radius:0px;
}

.modal-card {
  width:60%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(191, 203, 217);
  -webkit-transition: .4s;
  transition: .4s;
   border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #003865;
}

input:focus + .slider {
  box-shadow: 0 0 1px #004f8e;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(21px);
}

/*------ ADDED CSS ---------*/
.slider:after
{
 color: white;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 50%;
 font-size: 10px;
 font-family: Verdana, sans-serif;
}

/*--------- END --------*/
.slider-label {
  margin-left: 5px;
  line-height: 2;
}

.student-media {
  font-size:10pt
}

@media screen and (min-width: 1024px){
   .student-media-content, .staff-media-content {
      max-width:24%;
      min-width:24%;
   }
   .student-content, .staff-content {
       min-width:60%;
       max-width:60%;
   }
}

@media screen and (max-width: 1024px){
   .student-media, .staff-content {
    flex-direction:column;
   }
   .student-media-content, .staff-media-content {
      max-width:100%;
   }
}

/** Glasgow buttons */
.is-gla, .is-gla[disabled], .button.is-gla.is-outlined:hover {background-color: #003865;color: #fff;}
.is-gla:hover, .is-gla:focus, .is-gla:active {background-color: #004f8e;color: #fff;}
.button.is-gla.is-outlined{background-color:transparent;border-color:#003865;color:#003865}

/** Glasgow danger buttons */
.is-gla-danger, .is-gla-danger[disabled], .button.is-gla-danger.is-outlined:hover {background-color: #8a322c;color: #fff;}
.button.is-gla-danger.is-outlined{background-color:transparent;border-color:#8a322c;color:#8a322c}
.is-gla-danger:hover, .is-gla-danger:focus, .is-gla-danger:active {background-color: #b83d39;color: #fff;}

/** Glasgow success buttons */
.is-gla-success, .is-gla-success[disabled], .button.is-gla-success.is-outlined:hover {background-color: #216524;color: #fff;}
.is-gla-success:hover, .is-gla-success:focus, .is-gla-success:active {background-color: #2e8f31;color: #fff;}
.button.is-gla-success.is-outlined{background-color:transparent;border-color:#216524;color:#216524}

/** Glasgow header */
.is-gla-header {background-color: #003865;color: #fff;}

.fa-calendar-vue {
    margin-bottom: 10px;
    margin-left: -10px;
}

.input[readonly] {
  border-bottom:none;
  cursor:initial;
}

#student-requests tr th, #student-requests tr td {
  border:none;
}

.modal-card-form, .modal-card-body-form {
  overflow:visible;
}

.dates-edit {
  cursor:pointer;
}

.content ul {
  margin-left: 0;
}
